Job Specific - Resume Grading.json
{
  "name": "Job Specific - Resume Grading",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "dataPropertyAttachmentsPrefixName": "Resume_1",
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -2048,
        0
      ],
      "id": "5002f0a3-73b7-478c-a062-e55364645fb2",
      "name": "Gmail Trigger",
      "retryOnFail": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "83rseVTHwFwIr42H",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "Resume_10",
        "name": "={{ $json.headers.from }} Resume",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1cnGG4GQK8x77bf-zgxewjp7gRKR3EcWf",
          "mode": "list",
          "cachedResultName": "Resume_N8N",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1cnGG4GQK8x77bf-zgxewjp7gRKR3EcWf"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1824,
        0
      ],
      "id": "7232bf97-78d2-43b6-b98c-ba9fd072d7e9",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0y8BZjQGEkfM4zV8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e390156a-ef9b-4646-9a1b-742e0616b727"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1600,
        0
      ],
      "id": "24d803d9-7236-430a-890d-dc4f48fdb01e",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1376,
        0
      ],
      "id": "d90f8084-da56-40cd-a9b8-461a5e4b38f1",
      "name": "Download Resume",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0y8BZjQGEkfM4zV8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1152,
        0
      ],
      "id": "049a2bb3-1192-41de-8d4b-9ebfd63fc4b6",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8db2b95e-2333-4035-91b1-c5acb82024ff",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -928,
        0
      ],
      "id": "399f3128-241e-4c9a-8ab7-715a119ee1de",
      "name": "Convert Into Text"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1Zo3Qo0X7OGosKmckgedm3JP3Y0YTCW0n",
          "mode": "list",
          "cachedResultName": "Mystifly_BE.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1Zo3Qo0X7OGosKmckgedm3JP3Y0YTCW0n/view?usp=drivesdk"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -704,
        0
      ],
      "id": "f259ec11-ffba-4d20-ac66-15a38906e67c",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0y8BZjQGEkfM4zV8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -480,
        0
      ],
      "id": "1b69ef65-0821-4961-8ef5-87ce71b0e4e6",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Candidate's Resume:\n\n{{ $('Convert Into Text').item.json.text }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Overview\nYou are an expert technical recruiter specialising in **AI, automation, and software roles**.\n\nYou have been provided with a **job description** and a **candidate resume**.  \nYour task is to analyse the resume in relation to the job description and provide a **detailed screening report**.\n\nFocus specifically on:  \n- How well the candidate matches the **core requirements** and **ideal profile** outlined in the job description.  \n- Evaluating both **technical skill alignment** and **business-context understanding**.  \n- Using reasoning **grounded in the actual content** of the resume and job post.  \n- Avoiding assumptions.  \n\n---\n\n# Output Format\n\n## Candidate Strengths\nList the **top strengths** or **relevant qualifications** the candidate brings to the table. Be specific.  \n\n## Candidate Weaknesses\nList the areas where the candidate is **lacking** or **mismatched** based on the job description.  \n\n## Risk Factor\n- Assign a **risk score**: Low / Medium / High  \n- Explain the potential **worst-case scenario** if this candidate is hired.  \n\n## Reward Factor\n- Assign a **reward score**: Low / Medium / High  \n- Describe the potential **best-case scenario** — what value could this candidate unlock?  \n- Indicate whether the candidate appears to be a **short-term** or **long-term** fit.  \n\n## Overall Fit Rating (0–10)\nAssign a number between **0 (terrible match)** and **10 (perfect match)**.  \n*Do not use decimals.*  \n\n## Justification for Rating\nProvide a clear explanation of **why this candidate received the score**.  \nReference **specific resume content** and describe how it aligns (or does not align) with the job description.  \n\n---\n\n# Inputs\n- **Job Description:**  \n{{ $json.text }}\n\n- **Candidate Resume:**  \n{{ $('Extract from File').item.json.text }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -256,
        0
      ],
      "id": "a6bcbe4b-f399-47ef-a90f-094081106f05",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o4-mini",
          "mode": "list",
          "cachedResultName": "o4-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -336,
        224
      ],
      "id": "0870ae97-e5ae-4784-b163-f031123a34c5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "tmE4ftx4RAG7bO9s",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"Candidate Strengths\": [\n    \"string\"\n  ],\n  \"Candidate Weaknesses\": [\n    \"string\"\n  ],\n  \"Risk Factor\": {\n    \"score\": \"Low | Medium | High\",\n    \"explanation\": \"string\"\n  },\n  \"Reward Factor\": {\n    \"score\": \"Low | Medium | High\",\n    \"explanation\": \"string\",\n    \"fit\": \"Short-term | Long-term\"\n  },\n  \"Overall Fit Rating\": \"integer (0-10, no decimals)\",\n  \"Justification\": \"string\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -48,
        224
      ],
      "id": "850da832-19a0-4016-a2dd-58b7a97c39e4",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "text": "={{ $('Extract from File').item.json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "First name",
              "description": "The first name of the candidate",
              "required": true
            },
            {
              "name": "Last name",
              "description": "The last name of the candidate",
              "required": true
            },
            {
              "name": "Email",
              "description": "The email address of the candidate.",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        96,
        0
      ],
      "id": "ce6a5ba9-ebe4-4d7b-a1a0-0ee1a1229756",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1YO5yyiJD2vaSZmG-ve32H8HwuXDohU6i34xQjcfqVYQ",
          "mode": "list",
          "cachedResultName": "Resume Grader",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YO5yyiJD2vaSZmG-ve32H8HwuXDohU6i34xQjcfqVYQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YO5yyiJD2vaSZmG-ve32H8HwuXDohU6i34xQjcfqVYQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.format('yyyy-MM-dd') }}",
            "Resume": "={{ $('Download Resume').item.json.webViewLink}}",
            "First Name": "={{ $json.output['First name'] }}",
            "Last Name": "={{ $json.output['Last name'] }}",
            "Email": "={{ $json.output.Email }}",
            "Strenght": "={{ $('AI Agent').item.json.output['Candidate Strengths'].join(\"\\n\\n\") }}",
            "Weaknesses": "={{ $('AI Agent').item.json.output['Candidate Weaknesses'].join(\"\\n\\n\") }}",
            "Risk Factor": "={{ $('AI Agent').item.json.output['Risk Factor'].risk_score }}\n\n{{ $('AI Agent').item.json.output['Risk Factor'].description }}",
            "Reward Factor": "={{ $('AI Agent').item.json.output['Reward Factor'].reward_score }}\n\n{{ $('AI Agent').item.json.output['Reward Factor'].description }}",
            "Overall Fit": "={{ $('AI Agent').item.json.output['Overall Fit Rating'] }}\n\n{{ $('AI Agent').item.json.output['Justification for Rating'] }}",
            "Justification": "={{ $('AI Agent').item.json.output['Justification for Rating'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume",
              "displayName": "Resume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Strenght",
              "displayName": "Strenght",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Weaknesses",
              "displayName": "Weaknesses",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risk Factor",
              "displayName": "Risk Factor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reward Factor",
              "displayName": "Reward Factor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Overall Fit",
              "displayName": "Overall Fit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Justification",
              "displayName": "Justification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        0
      ],
      "id": "08491330-54ab-4fa8-be83-2c220c3a88f7",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TjHPVJ5aBFg7CwOh",
          "name": "Google Sheets account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Download Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Resume": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Convert Into Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Into Text": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "86da47e0-2543-4e21-a7d9-89c8d0bc7eab",
  "meta": {
    "templateId": "3838",
    "templateCredsSetupCompleted": true,
    "instanceId": "5abe11c526582f57830f51c10e2ebcb6da2429bc3e7b57bb3f8393da1053fb4b"
  },
  "id": "B4jYEiu2V4rH7xyE",
  "tags": []
}